.nav-link
    color: #42428D !important
    position: relative
    text-decoration: none
    &:after
    content: "\f110"
    &:hover
        color: #EFA69B !important
        &:after
            content: "\f110"
            position: absolute
            top: 30px
            right: 20px
            transition: 1s ease-in !important
            color: #EFA69B !important
.dropdown-item
    color: #42428D
    &:hover
        color: #EFA69B
