// Format desktop
@media (min-width &: 1024px)

// Format tablette
@media (min-width &: 768px) and (max-width &: 1023px)
    .container
        max-width: 70% !important
        margin-right: 150px !important
        div
            div
                display: flex
                flex-direction: column
                h1
                    font-size: 40px !important
                .borderimg
                    width: 80%
                    display: block !important
    .fillcarre
        margin-left: 140px

// Format Mobile L
@media (min-width &: 425px) and (max-width &: 767px)
    .section1
        height: 500px
    .container
        max-width: 100%
        height: auto
        div
            display: flex
            flex-direction: column
            div
                display: flex
                flex-direction: column
                p
                    font-size: 10px !important
                h1
                    font-size: 17px !important
                button
                    font-size: 10px
                    width: 100px !important
                    height: 30px !important
                .borderimg
                    width: 150px !important
                    height: 150px
                    display: block !important
                    position: absolute
                    top: 350px
    .fillcarre
        margin-bottom: 30px
        position: absolute
        top: 120px

// Format Mobile M
@media (min-width &: 375px) and (max-width &: 424px)
    .section1
        height: 500px
    .container
        max-width: 100%
        height: auto
        div
            display: flex
            flex-direction: column
            div
                display: flex
                flex-direction: column
                p
                    font-size: 10px !important
                h1
                    font-size: 17px !important
                button
                    font-size: 10px
                    width: 100px !important
                    height: 30px !important
                .borderimg
                    width: 150px !important
                    height: 150px
                    display: block !important
                    position: absolute
                    top: 350px
    .fillcarre
        margin-bottom: 30px
        position: absolute
        top: 110px
