.section2
    height: 700px
    background-color: #1F1F2A
.p_section2
    margin-top: 100px
    background-color: #B1B3F2
.textgris_section2
    color: #9F9F95
.mxwidth_section2
    max-width: 80%
    display: flex
    align-items: center
    justify-content: center
    margin: auto
.card_section2
    border-radius: 10px
    width: 30%
    height: 300px
    &:hover
        background-color: grey
        opacity: 0.9
.fa-lightbulb
    font-size: 60px
    color: #FEBCBE
    margin: 20px