h1
    font-family: "FontTitre" !important
.section3
    height: 700px
    .container
        max-width: 60%
.mt_section3
    margin-top: 100px
.p_section3
    width: 147px
    height: auto
    color: #6B7097
    background-color: #E9EAFD
.card_section3
    height: auto
.tailleicone_section3
    font-size: 80px
    color: #FE9B8F
    margin: 20px
.tailletitre_section3
    font-size: 20px
    font-weight: bold
.tailletext_section3
    font-size: 12px
.position
    position: absolute
    top: 7px
    right: 10px
    rotate: -45deg
    color: lightgrey
.card_section3
    &:hover
        color: white
        background-color: #4B4B55
        .tailleicone_section3
            color: white
        .position
            rotate: 320deg
            transition: 1s