.section2
    height: 700px
    background-color: #1F1F2A
.p_section2
    margin-top: 100px
    background-color: #B1B3F2
.textgris_section2
    color: #9F9F95
.mxwidth_section2
    max-width: 80%
    display: flex
    align-items: center
    justify-content: center
    margin: auto
.card_section2
    font-size: 20px
    border-radius: 10px
    height: 300px
    &:hover
        background-color: grey
        opacity: 0.9
.fa-lightbulb
    font-size: 60px
    color: #FEBCBE
    margin: 20px
.fill_section2
    width: 30px
    height: 30px
    color: white
    border-radius: 5px
    border: 1px solid white
    background-color: transparent
    z-index: 1
    position: relative
    &:hover
        color: white !important
        border: none !important
    &::after
        content: " "
        background-color: #FEBCBE
        z-index: -1
        border-radius: 5px
        position: absolute
        width: 100%
        height: 100%
        top: 3px
        left: 3px
        transition: 0.2s
    &:hover::after
        top: 0px
        left: 0px