.section2
    height: 900px
    background-color: #1F1F2A
    .container
        max-width: 60%
.p_section2
    margin-top: 100px
    background-color: #B1B3F2
.size_section2
    font-size: 18px
.textgris_section2
    color: #9F9F95
.card_section2_lamp
    font-size: 20px
    border-radius: 10px
    height: 300px
    &:hover
        transition: 0.3s all
        background-color: grey
        p:nth-child(2)
            color: #FEBCBE !important
.card_section2_rouage
    font-size: 20px
    border-radius: 10px
    height: 300px
    &:hover
        transition: 0.3s all
        background-color: grey
        p:nth-child(2)
            color: #80E2EB !important
.card_section2_fuse
    font-size: 20px
    border-radius: 10px
    height: 300px
    &:hover
        transition: 0.3s all
        background-color: grey
        p:nth-child(2)
            color: #B0B4F3 !important
.fa-lightbulb
    font-size: 60px
    color: #FEBCBE
    margin: 20px
.fa-gear
    font-size: 60px
    color: #80E2EB
    margin: 20px
.fa-rocket
    font-size: 60px
    color: #B0B4F3
    margin: 20px
.fill_section2_lamp
    width: 30px
    height: 30px
    color: white
    border-radius: 5px
    border: 1px solid white
    background-color: transparent
    z-index: 1
    position: relative
    &:hover
        color: white !important
        border: none !important
    &::after
        content: " "
        background-color: #FEBCBE
        z-index: -1
        border-radius: 5px
        position: absolute
        width: 100%
        height: 100%
        top: 3px
        left: 3px
        transition: 0.2s
    &:hover::after
        top: 0px
        left: 0px
.fill_section2_rouage
    width: 30px
    height: 30px
    color: white
    border-radius: 5px
    border: 1px solid white
    background-color: transparent
    z-index: 1
    position: relative
    &:hover
        color: white !important
        border: none !important
    &::after
        content: " "
        background-color: #80E2EB
        z-index: -1
        border-radius: 5px
        position: absolute
        width: 100%
        height: 100%
        top: 3px
        left: 3px
        transition: 0.2s
    &:hover::after
        top: 0px
        left: 0px
.fill_section2_fuse
    width: 30px
    height: 30px
    color: white
    border-radius: 5px
    border: 1px solid white
    background-color: transparent
    z-index: 1
    position: relative
    &:hover
        color: white !important
        border: none !important
    &::after
        content: " "
        background-color: #B0B4F3
        z-index: -1
        border-radius: 5px
        position: absolute
        width: 100%
        height: 100%
        top: 3px
        left: 3px
        transition: 0.2s
    &:hover::after
        top: 0px
        left: 0px
.fillcarre_section2
    font-size: 15px
    width: 200px
    height: 60px
    color: white
    border: 2px solid white
    background-color: transparent
    border-radius: 40px
    z-index: 1
    position: relative
    &:hover
        color: white !important
    &::after
        content: " "
        color: white !important
        border: none !important
        background-color: #FEBCBE
        border-radius: 40px
        z-index: -1
        position: absolute
        width: 100%
        height: 100%
        top: 6px
        left: 6px
        transition: 0.2s
    &:hover::after
        top: 0px
        left: 0px
.countsulation_section2
    font-size: 15px
.mt_section2
    margin-top: 100px