h1
    font-family: "FontTitre" !important
.section3
    height: 800px
    .container
        max-width: 60%
.mt_section3
    margin-top: 100px
.p_section3
    width: 147px
    height: auto
    color: #6B7097
    background-color: #E9EAFD
.card_section3
    height: auto
.tailleicone1
    font-size: 100px
    color: #FE9B8F
    margin: 20px
